@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del,
dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
}

html {
    background-color: rgb(237, 231, 222);
    height: 100%;
}

body {
    min-width: 1000px;
    width: 100%;
    height: 100%;
    margin: auto;
    font: 16px/18px Georgia, sans-serif;
    text-align: justify;
}

a {
    color: #cd7f32;
}

h1 {
    color: #cd7f32;
    font: 25px/30px Georgia, sans-serif;
}

h2 {
    margin: 4px;
    font: 18px/20px Georgia, sans-serif;
}

h3 {
    font: 16px/18px Georgia, sans-serif;
}

/* Header */
header {
    width: 100%;
    color: #cd7f32;
    background-color: #272626;
    box-shadow: 0 5px 30px #cd7f32;
}

/* Type of page */
.feed {
    margin-left: 1%;
    font: 35px/40px Georgia, sans-serif;
    text-align: center;
}

/* Actions */
.header-actions {
    width: 50%;
    margin-right: 1%;
    float: right;
    text-align: right;
}

.header-actions a:hover {
    box-shadow: 0 0 10px #cd7f32;
}

.add-article {
    margin-right: 3%;
    padding: 5px;
    border-radius: 10px;
    font: 20px/40px Georgia, sans-serif;
    text-align: center;
    background-color:#3a3733;
}

.user {
    margin-right: 3%;
    font: 20px/40px Georgia, sans-serif;
    text-align: center;
}

.login-logout-button {
    padding: 5px;
    border-radius: 10px;
    font: 20px/40px Georgia, sans-serif;
    text-align: center;
    background-color:#3a3733;
}

/* News */
.article-list {
    float: left;
    width: 75%;
    margin: 2%;
}

.article-list p {
    padding: 0.3%;
    background-color: #e0dbd2;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
}

.article-list a:hover {
    box-shadow: 0 0 10px 3px #cd7f32;
}

.article-header {
    padding: 0.5%;
    color: #cd7f32;
    border-radius: 5px;
    box-shadow: 0 0 2px #000000;
}

.author {
    float: left;
    width: 50%;
    font: 16px/16px Georgia, sans-serif;
    text-align: left;
}

.date {
    float: right;
    width: 50%;
    font: 16px/16px Georgia, sans-serif;
    text-align: right;
}

.tag {
    width: 100%;
    margin-right: 10px;
    border-radius: 2px;
    font: 15px/20px Georgia, sans-serif;
    box-shadow: 0 0 1px #000000;
}

.article-actions {
    text-align: center;
}

.view-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/260% Georgia, sans-serif;
    text-align: center;
    background-color: #3a3733;
}

.edit-button {
    margin-right: 20%;
    padding: 5px;
    border-radius: 10px;
    font: 18px/260% Georgia, sans-serif;
    text-align: center;
    background-color: #3a3733;
}

.delete-button {
    margin-left: 20%;
    padding: 5px;
    border-radius: 10px;
    font: 18px/260% Georgia, sans-serif;
    text-align: center;
    background-color: #3a3733;
}

/* Filters */
.filters {
    float: right;
    width: 21%;
    height: 400px;
    margin-top: 1%;
    color: #000000;
    border-radius: 10px;
    background-color: #a89c86;
    text-align: center;
    box-shadow: 0 0 5px #000000;
}

.filters h1 {
    color: #000000;
}

.filters a:hover {
    box-shadow: 0 0 10px 1px #cd7f32;
}

.author-filter input,
.date-filter input,
.tags-filter input {
    margin-bottom: 10px;
    width: 70%;
}

.confirm-filter {
    margin-left: 20%;
    margin-right: 20%;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    font: 18px/23px Georgia, sans-serif;
    text-align: center;
    background-color: #3a3733;
}

/* Navigation elements */
.paginator {
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
    width: 75%;
    text-align: center;
}

.pagination-next-button {
    float: right;
    margin-right: 40%;
}

.pagination-prev-button {
    float: left;
    margin-left: 40%;
}

.return-button-block {
    margin: 2%;
}

.return-button-block a:hover {
    box-shadow: 0 0 10px 1px #cd7f32;
}

.return-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/18px Georgia, sans-serif;
    text-align: center;
    background-color: #3a3733;
}

/* Authorization */
.authorization-input-block {
    margin-left: 2%;
}

.authorization-input-block input {
    width: 15%;
    min-width: 200px;
    margin-right: 100%;
    margin-bottom: 1%;
}

.login-button-block {
    margin-top: 1%;
    margin-left: 2%;
    min-height: 85%;
}

.login-button-block a:hover {
    box-shadow: 0 0 10px 1px #cd7f32;
}

.login-button {
    padding: 5px;
    border-radius: 10px;
    font: 18px/18px Georgia, sans-serif;
    text-align: center;
    background-color: #3a3733;
}

/* View */
.article-view {
    margin-left: 1%;
    margin-right: 1%;
    min-height: 90%;
}

.article-view a:hover {
    box-shadow: 0 0 10px 1px #cd7f32;
}

.content {
    margin-bottom: 2%;
    padding: 0.3%;
    background-color: #e0dbd2;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
}

/* Error */
.error-block {
    margin-left: 2%;
    min-height: 90%;
}

.error-block span {
    font: 25px/25px Georgia, sans-serif;
    color: black;
}

/* Footer */
footer {
    height: 20px;
    clear: both;
    width: 100%;
    text-align: center;
    color: #c0c0c0;
    background-color: #272626;
    font: 15px/20px Georgia, sans-serif;
}